<h1 class="title">Products Ecommerce</h1>

<div id="home">
    {{#each productsView}}
    <div class="card vist" style="width: 18rem;">
        <img src="{{this.thumbnail}}" class="mx-auto img-thumbnail img" alt="">
        <div class="card_info card-body">
            <p class="card-text">{{this.title}}</p>
            <p class="card-text">Price: {{this.price}}</p>
            <p class="card-text">Stocks: {{this.stock}}</p>
        </div>
        <div>
            <button class="btn cart px-auto add-to-cart-btn" data-product-id="">Add Product</button>
        </div>  
    </div>
    {{/each}}
</div>